@charset "utf-8";
body{ padding:0px; margin:0 auto; font-size:12px; color:#000; font-family:Arial, Helvetica, sans-serif; }
*{margin:0; padding:0px;}
ul,li,dl,dt,dd{list-style:none;}
input,select,img{vertical-align:middle;}
img{
	border:none;
	padding-bottom: 6px;
}
a{color:#000; text-decoration:none;}
a:hover{color:#F00; text-decoration:underline;}
a:focus{ outline-style:none;}
a{blr:expression(this.onFocus=this.blur());}/*ie6*/

#header,#main,#footer{ padding:0px; margin:0 auto; text-align:left; overflow:hidden; width:1000px; background-color:#FFF;}

#header{}
.fansy_top{ background:url(../images/fansy_topdbj.jpg) left top repeat-x; width:1000px; height:64px;}
.fansy_toptab{ color:#af0005; line-height:20px;}
.fansy_toptab a{color:#af0005; font-family:"Microsoft YaHei"; text-decoration:none;}
.fansy_toptab a:hover{color:#af0005; font-family:"Microsoft YaHei"; text-decoration:underline;}
.fansy_baner{ width:1000px; height:29px; background:url(../images/fansy_baner_bj.gif) left top repeat-x;}
.fansy_baner_lxx{ width:480px; height:29px; line-height:29px; color:#feb83f; padding-left:20px; float:left; display:inline;}
.fansy_baner_lxx a{color:#feb83f; text-decoration:none;}
.fansy_baner_lxx a:hover{color:#feb83f; text-decoration:underline;}
.fansy_baner_rxx{ width:200px; height:29px; line-height:29px; color:#feb83f; text-align:center; float:right; display:inline; font-weight:bold;  font-family:"Microsoft YaHei";}
.fansy_baner_rxx a{color:#feb83f; text-decoration:none;}
.fansy_baner_rxx a:hover{color:#feb83f; text-decoration:underline;}

.fansy_midnr{ width:1000px; height:526px;}
.fansy_midnr_lnr{ width:353px; height:526px; background:url(../images/fansy_lnr_dbj.jpg) left top no-repeat; float:left; display:inline;}
.fansy_midnr_rnr{ width:647px; height:526px; float:right; display:inline;}

.fansy_fotnr{ width:1000px; height:28px; line-height:28px; background:url(../images/fansy_foot_bj.gif) left top repeat-x; color:#FFF;}
.fansy_fotnr a{color:#ffffff; text-decoration:none;}
.fansy_fotnr a:hover{color:#ffffff; text-decoration:underline;}


#sheng{width:430px; height:341px; position:absolute; background:url(../images/fw_nyqhdz_dbj.gif) left top no-repeat; border:none; z-index:5; left:50%; margin-left:-200px; top:20%; display:none;}
#TouMingDiv{z-index:4; position:absolute; border:none; background-color:#666; filter:Alpha
(style=2,opacity=10,finishopacity=30,startX=10,finishX=100); opacity:0.3; display:none; left:0px; right:0px; top:0px;}
#ifsheng{z-index:2; position:absolute; display:none; filter:Alpha(style=2,opacity=o,finishopacity=0); opacity:0; left:0px; right:0px; top:0px;}
#shengneirou{height:341px; width:430px;}
.qhdz_til{ width:1000px; height:33px; line-height:33px; background:url(../images/fw_dqscdz_bj.gif) left top no-repeat; padding:0; margin:0 auto;}
.cfwxzdz_td{ font-size:12px; color:#444; background:url(../images/fw_nyqhdz_dx.gif) left bottom repeat-x; cursor:pointer; line-height:30px;}



.cfw_fotfw{ width:1000px; height:140px; background:url(../images/cfwny_fwdbj.gif) left top no-repeat; padding:0; margin:0 auto;}
.cfw_fotfw_ltd{ background:url(../images/cfwny_icon_d.gif) 6px center no-repeat; padding-left:16px;}
.cfw_fotfw_ltd a{ color:#666; text-decoration:none;}
.cfw_fotfw_ltd a:hover{ color:#F90; text-decoration:none;}
