<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HotDistrict>保险大厦|东方商厦|财富天下|帝景台</HotDistrict>
  <ServiceQQ />
  <WebName>邀您吃饭</WebName>
  <Logo />
  <WebUrl />
  <WebTel>0591-28068107</WebTel>
  <WebFax>0591-80018228</WebFax>
  <CookieName>FZtouch</CookieName>
  <WebEmail>1378697852@qq.com</WebEmail>
  <WebAddress>鼓楼区五四玉泉路 1号明阳天下23F</WebAddress>
  <WebKeywords>订餐网,</WebKeywords>
  <WebDescription>邀您吃饭</WebDescription>
  <WebCopyright>&lt;p&gt;Copyright@邀您吃饭. All Rights Reserved. 闽ICP123456789&amp;nbsp;&lt;/p&gt;</WebCopyright>
  <EmailLoginName>1378697852@qq.com</EmailLoginName>
  <SmtpServer>smtp.qq.com</SmtpServer>
</WebSet>