<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler" requirePermission="false"/>
	</configSections>
	<appSettings>
		<add key="yuanimg" value="~/userfiles/"/>
		<add key="FCKeditor:UserFilesPath" value="~/userfiles/"/>
		<add key="FCKeditor:BasePath" value="~/touch/fckeditor/"/>
		<add key="Configpath" value="~/XmlConfig/WebSet.config"/>
		<add key="Urlspath" value="~/XmlConfig/urls.config"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="server=YYZ; Database=OrderShopDB; Uid=sa; Pwd=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<customErrors mode="Off"/>
		<!--<customErrors mode="RemoteOnly" defaultRedirect="error.html" />-->
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<sessionState mode="InProc" timeout="30"/>
		<pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
				<add tagPrefix="ucl" tagName="Header" src="~/ascx/Header.ascx"/>
				<add tagPrefix="ucl" tagName="Footer" src="~/ascx/Footer.ascx"/>
				<add tagPrefix="ucl" tagName="UserLeft" src="~/ascx/UserLeft.ascx"/>
				<add tagPrefix="ucl" tagName="UserLeft2" src="~/ascx/UserLeft2.ascx"/>
			</controls>
		</pages>
		<httpModules>
			<add type="URLRewriter.ModuleRewriter" name="ModuleRewriter"/>
		</httpModules>
	</system.web>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>
